/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #023047;
    color: #f2cc8f;
    font-family: 'Outfit', sans-serif;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.animation-delay-300 {
    animation-delay: 300ms;
}

.animation-delay-600 {
    animation-delay: 600ms;
}

.animation-delay-900 {
    animation-delay: 900ms;
}

/* Dropdown Visibility for Navbar */
.dropdown-visible {
    visibility: visible !important;
}

/* Ensure links have no default underline */
a {
    text-decoration: none;
}