.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #f2cc8f;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.dropdown {
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.dropdown-visible {
    transform: translateY(0);
}

/* Mobile styles */
@media (max-width: 768px) {
    .group .absolute {
        position: static !important;
        width: 100% !important;
        opacity: 1 !important;
        visibility: visible !important;
        display: none;
        transform: none !important;
    }

    .group:hover .absolute {
        display: block;
    }
}